# UAS Model Deployment

Nama : Melvern Amadio Hidyat

NIM : 2602072685

Jurusan : Data Science

In [12]:
pip install joblib

Requirement already satisfied: joblib in c:\users\lenovo\anaconda3\envs\latihan_uas\lib\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install scikit-learn==1.2.2

Requirement already satisfied: scikit-learn==1.2.2 in c:\users\lenovo\anaconda3\envs\latihan_uas\lib\site-packages (1.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\envs\latihan_uas\lib\site-packages (from scikit-learn==1.2.2) (3.5.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\lenovo\anaconda3\envs\latihan_uas\lib\site-packages (from scikit-learn==1.2.2) (1.14.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\lenovo\anaconda3\envs\latihan_uas\lib\site-packages (from scikit-learn==1.2.2) (1.4.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\lenovo\anaconda3\envs\latihan_uas\lib\site-packages (from scikit-learn==1.2.2) (1.24.1)
Note: you may need to restart the kernel to use updated packages.

In [14]:
#Dataset A NIM : Ganjil & pria (2602072685)
import pandas as pd
import numpy as np
import pickle as pkl
import joblib

In [15]:
df=pd.read_csv('data_1A.csv')
df

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,0,28,admin.,single,university.degree,no,yes,no,telephone,may,fri,1128.0,3,999,0,nonexistent,no
1,1,30,admin.,single,university.degree,no,no,no,cellular,may,thu,199.0,1,999,0,nonexistent,no
2,2,49,self-employed,divorced,university.degree,no,yes,no,cellular,jul,wed,1124.0,2,999,0,nonexistent,yes
3,3,33,management,married,high.school,no,yes,no,telephone,may,fri,178.0,2,999,0,nonexistent,no
4,4,50,services,married,unknown,unknown,no,no,telephone,may,tue,144.0,1,999,0,nonexistent,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8232,8232,45,retired,divorced,university.degree,no,yes,no,cellular,jul,tue,372.0,4,999,0,nonexistent,no
8233,8233,51,technician,married,university.degree,no,yes,no,cellular,aug,wed,512.0,5,999,0,nonexistent,yes
8234,8234,52,admin.,divorced,university.degree,no,no,no,telephone,jun,mon,201.0,3,999,0,nonexistent,no
8235,8235,51,blue-collar,married,basic.4y,no,no,no,telephone,jun,thu,16.0,9,999,0,nonexistent,no
8236,8236,46,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,wed,125.0,1,999,0,nonexistent,no

In [46]:
df.head()

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,0,28,admin.,single,university.degree,no,yes,no,telephone,may,fri,1128.0,3,999,0,nonexistent,no
1,1,30,admin.,single,university.degree,no,no,no,cellular,may,thu,199.0,1,999,0,nonexistent,no
2,2,49,self-employed,divorced,university.degree,no,yes,no,cellular,jul,wed,1124.0,2,999,0,nonexistent,yes
3,3,33,management,married,high.school,no,yes,no,telephone,may,fri,178.0,2,999,0,nonexistent,no
4,4,50,services,married,unknown,unknown,no,no,telephone,may,tue,144.0,1,999,0,nonexistent,no

## EDA

In [47]:
df.shape

(8237, 17)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8237 entries, 0 to 8236
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   8237 non-null   int64
 1   age          8237 non-null   int64
 2   job          8230 non-null   object
 3   marital      8237 non-null   object
 4   education    8237 non-null   object
 5   default      8237 non-null   object
 6   housing      8237 non-null   object
 7   loan         8237 non-null   object
 8   contact      8237 non-null   object
 9   month        8237 non-null   object
 10  day_of_week  8237 non-null   object
 11  duration     8228 non-null   float64
 12  campaign     8237 non-null   int64
 13  pdays        8237 non-null   int64
 14  previous     8237 non-null   int64
 15  poutcome     8237 non-null   object
 16  y            8237 non-null   object
dtypes: float64(1), int64(5), object(11)
memory usage: 1.1+ MB

In [49]:
df.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [50]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0  age            job   marital          education  default  \
0              0   28         admin.    single  university.degree       no
1              1   30         admin.    single  university.degree       no
2              2   49  self-employed  divorced  university.degree       no
3              3   33     management   married        high.school       no
4              4   50       services   married            unknown  unknown
...          ...  ...            ...       ...                ...      ...
8232        8232   45        retired  divorced  university.degree       no
8233        8233   51     technician   married  university.degree       no
8234        8234   52         admin.  divorced  university.degree       no
8235        8235   51    blue-collar   married           basic.4y       no
8236        8236   46    blue-collar   married           basic.4y  unknown

     housing loan    contact month day_of_week  duration  campaign  pdays  \
0        yes   no  telephone   may         fri    1128.0         3    999
1         no   no   cellular   may         thu     199.0         1    999
2        yes   no   cellular   jul         wed    1124.0         2    999
3        yes   no  telephone   may         fri     178.0         2    999
4         no   no  telephone   may         tue     144.0         1    999
...      ...  ...        ...   ...         ...       ...       ...    ...
8232     yes   no   cellular   jul         tue     372.0         4    999
8233     yes   no   cellular   aug         wed     512.0         5    999
8234      no   no  telephone   jun         mon     201.0         3    999
8235      no   no  telephone   jun         thu      16.0         9    999
8236     yes  yes  telephone   may         wed     125.0         1    999

      previous     poutcome    y
0            0  nonexistent   no
1            0  nonexistent   no
2            0  nonexistent  yes
3            0  nonexistent   no
4            0  nonexistent   no
...        ...          ...  ...
8232         0  nonexistent   no
8233         0  nonexistent  yes
8234         0  nonexistent   no
8235         0  nonexistent   no
8236         0  nonexistent   no

[8237 rows x 17 columns]>

In [17]:
df.y.value_counts()

no     7258
yes     979
Name: y, dtype: int64

## Train Test Split

In [18]:
x = df.drop(['y', 'Unnamed: 0'], axis=1)
y = df['y']

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [20]:
y_train.head()

3805     no
5899    yes
5022    yes
4556     no
4139     no
Name: y, dtype: object

#### Handling Missing Value

In [21]:
x_train.isnull().sum()

age            0
job            5
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       7
campaign       0
pdays          0
previous       0
poutcome       0
dtype: int64

In [51]:
x_test.isnull().sum()

age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
dtype: int64

In [22]:
x_train.loc[x_train["job"].isna(), "job"] = x_train["job"].mode()[0]
x_test.loc[x_test["job"].isna(), "job"] = x_test["job"].mode()[0]

In [23]:
x_train.loc[x_train["duration"].isna(), "duration"] = x_train["duration"].mean()
x_test.loc[x_test["duration"].isna(), "duration"] = x_test["duration"].mean()

In [24]:
x_train.isnull().sum()

age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
dtype: int64

In [25]:
x_test.isnull().sum()

age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
dtype: int64

In [26]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6589 entries, 3805 to 7270
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          6589 non-null   int64
 1   job          6589 non-null   object
 2   marital      6589 non-null   object
 3   education    6589 non-null   object
 4   default      6589 non-null   object
 5   housing      6589 non-null   object
 6   loan         6589 non-null   object
 7   contact      6589 non-null   object
 8   month        6589 non-null   object
 9   day_of_week  6589 non-null   object
 10  duration     6589 non-null   float64
 11  campaign     6589 non-null   int64
 12  pdays        6589 non-null   int64
 13  previous     6589 non-null   int64
 14  poutcome     6589 non-null   object
dtypes: float64(1), int64(4), object(10)
memory usage: 823.6+ KB

## Encoding

In [28]:
encode_job = {"job": {"admin.":1,"blue-collar":2,'entrepreneur':3,'housemaid':4,'management':5,'retired':6,'self-employed':7,'services':8,'student':9,'technician':10,'unemployed':11,'unknown':0}}
encode_marital = {"marital": {"single":1,"married":2,'divorced':3,'unknown':0}}
encode_education = {"education": {"university.degree":1,"high.school":2,'basic.9y':3,'professional.course':4,'basic.4y':5,'basic.6y':6,'unknown':7,'illiterate':0}}
encode_default = {"default": {"yes":1,"no":2,"unknown":0}}
encode_housing = {"housing": {"yes":1,"no":2,"unknown":0}}
encode_loan = {"loan": {"yes":1,"no":2,"unknown":0}}
encode_contact= {"contact": {"telephone":0,"cellular" :1}}
encode_month = {"month": {"jan":1,"feb":2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}}
encode_day = {"day_of_week": {"mon":1,"tue":2,'wed':3,'thu':4,'fri':5,'sat':6,'sun':7}}
encode_poutcome = {"poutcome": {"success":1,"failure":2,'nonexistent':3,'unknown':0}}

x_train = x_train.replace(encode_job)
x_test = x_test.replace(encode_job)

x_train = x_train.replace(encode_marital)
x_test = x_test.replace(encode_marital)

x_train = x_train.replace(encode_education)
x_test = x_test.replace(encode_education)

x_train = x_train.replace(encode_default)
x_test = x_test.replace(encode_default)

x_train = x_train.replace(encode_housing)
x_test = x_test.replace(encode_housing)

x_train = x_train.replace(encode_loan)
x_test = x_test.replace(encode_loan)

x_train = x_train.replace(encode_contact)
x_test = x_test.replace(encode_contact)

x_train = x_train.replace(encode_month)
x_test = x_test.replace(encode_month)

x_train = x_train.replace(encode_day)
x_test = x_test.replace(encode_day)

x_train = x_train.replace(encode_poutcome)
x_test = x_test.replace(encode_poutcome)

In [29]:
encoders = {
    "EncodedJob": encode_job,
    "EncodedMarital": encode_marital,
    "EncodedEducation": encode_education,
    "EncodedDefault": encode_default,
    "EncodedHousing": encode_housing,
    "EncodedLoan": encode_loan,
    "EncodedContact": encode_contact,
    "EncodedMonth": encode_month,
    "EncodedDay": encode_day,
    "EncodedPoutcome": encode_poutcome
    }

joblib.dump(encoders,'encoders.pkl')

['encoders.pkl']

In [30]:
x_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome
3805,46,2,2,6,0,1,2,1,8,2,398.0,3,999,0,3
5899,30,5,1,2,2,2,2,1,11,4,952.0,2,999,0,3
5022,26,10,1,4,2,0,0,1,7,3,578.0,1,999,0,3
4556,48,2,2,6,2,1,2,0,6,1,261.0,8,999,0,3
4139,31,9,1,7,2,2,1,1,5,1,535.0,2,999,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,52,3,2,1,0,2,2,0,5,1,151.0,1,999,0,3
5191,78,6,2,3,2,1,2,0,10,4,321.0,1,999,0,3
5390,42,10,2,4,2,2,1,0,5,3,96.0,5,999,0,3
860,33,2,3,5,2,1,2,1,8,2,395.0,1,999,0,3
7270,43,2,2,3,2,1,2,1,6,2,395.0,1,999,0,3

In [31]:
x_test

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome
706,48,3,2,1,2,1,2,0,5,3,122.0,1,999,0,3
5325,30,8,1,2,2,2,2,0,6,3,245.0,1,999,0,3
1665,21,9,1,2,2,2,2,1,6,4,400.0,1,999,0,3
6675,46,5,2,6,2,2,2,1,5,1,966.0,1,999,0,3
5605,51,10,2,4,2,1,2,0,8,5,115.0,2,999,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,38,1,2,2,2,2,2,1,8,3,289.0,2,999,0,3
296,25,1,1,2,2,2,2,0,5,2,268.0,3,999,0,3
6451,43,5,2,1,2,1,1,0,6,2,435.0,3,999,0,3
57,41,2,2,6,0,2,2,0,5,5,407.0,4,999,0,3
2131,30,2,2,3,2,1,2,0,4,4,426.0,3,999,0,3

In [32]:
y_train

3805     no
5899    yes
5022    yes
4556     no
4139     no
       ...
5734     no
5191     no
5390     no
860     yes
7270    yes
Name: y, Length: 6589, dtype: object

In [33]:
y_test

706      no
5325     no
1665    yes
6675    yes
5605     no
       ...
1811    yes
296      no
6451     no
57       no
2131    yes
Name: y, Length: 1648, dtype: object

In [34]:
# Initialize LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# Fit and transform y_train to numerical labels
y_train = le.fit_transform(y_train)
y_test = le.fit_transform(y_test)

## Modeling

### Random Forest

In [35]:
from sklearn.ensemble import RandomForestClassifier
RF_class = RandomForestClassifier(criterion= 'gini',max_depth=4)
RF_class.fit(x_train, y_train)

RandomForestClassifier(max_depth=4)

In [36]:
y_predict_RF=RF_class.predict(x_test)

In [37]:
from sklearn.metrics import classification_report
print('RF Classification Report')
print(classification_report(y_test, y_predict_RF, target_names=['0','1']))

RF Classification Report
              precision    recall  f1-score   support

           0       0.90      0.99      0.94      1453
           1       0.69      0.19      0.30       195

    accuracy                           0.89      1648
   macro avg       0.79      0.59      0.62      1648
weighted avg       0.88      0.89      0.87      1648

In [38]:
joblib.dump(RF_class,'RF_model.pkl')

['RF_model.pkl']

### XGBoost

In [40]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.0-py3-none-win_amd64.whl (124.9 MB)
     -------------------------------------- 124.9/124.9 MB 1.9 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\envs\latihan_uas\lib\site-packages (from xgboost) (1.14.0)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\envs\latihan_uas\lib\site-packages (from xgboost) (1.24.1)
Installing collected packages: xgboost
Successfully installed xgboost-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [41]:
import xgboost as xgb

XGB_Class = xgb.XGBClassifier(tree_method="hist")
XGB_Class.fit(x_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [42]:
y_predict=XGB_Class.predict(x_test)

In [43]:
print('\nClassification Report\n')
print(classification_report(y_test, y_predict, target_names=['1','0']))

Classification Report

              precision    recall  f1-score   support

           1       0.93      0.96      0.94      1453
           0       0.61      0.45      0.52       195

    accuracy                           0.90      1648
   macro avg       0.77      0.70      0.73      1648
weighted avg       0.89      0.90      0.89      1648

In [44]:
joblib.dump(XGB_Class,'XGB_model.pkl')

['XGB_model.pkl']

In [45]:
from sklearn.metrics import accuracy_score

RF_model = joblib.load('RF_model.pkl')
XGB_model = joblib.load('XGB_model.pkl')

# Make predictions on the test data
RF_predictions = RF_model.predict(x_test)
XGB_predictions = XGB_model.predict(x_test)

# Calculate the accuracy of each model
RF_accuracy = accuracy_score(y_test, RF_predictions)
XGB_accuracy = accuracy_score(y_test, XGB_predictions)

# Compare the accuracies
if RF_accuracy > XGB_accuracy:
    best_model = 'Random Forest'
    best_accuracy = RF_accuracy
else:
    best_model = 'XGBoost'
    best_accuracy = XGB_accuracy

# Print the best model and its accuracy
print(f'The best model is {best_model} with an accuracy of {best_accuracy:.2f}')

The best model is XGBoost with an accuracy of 0.90